intern_onboarding_gmail_workflow1.json
{
  "name": "Intern Full Onboarding Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intern-onboard",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "intern-onboard-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "name", "value": "={{ $json[\"body\"][\"name\"] }}" },
            { "name": "email", "value": "={{ $json[\"body\"][\"email\"] }}" },
            { "name": "role", "value": "={{ $json[\"body\"][\"role\"] }}" },
            { "name": "github_username", "value": "={{ $json[\"body\"][\"github_username\"] }}" },
            { "name": "slack_email", "value": "={{ $json[\"body\"][\"email\"] }}" }
          ]
        },
        "options": {}
      },
      "id": "node-002",
      "name": "Set Intern Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "resource": "organization",
        "operation": "addMember",
        "organization": "YOUR_GITHUB_ORG",
        "username": "={{ $json[\"github_username\"] }}",
        "role": "member"
      },
      "id": "node-003",
      "name": "GitHub: Add to Org",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [640, 180],
      "credentials": {
        "githubApi": {
          "id": "GITHUB_CREDENTIAL_ID_PLACEHOLDER",
          "name": "GitHub API Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "addCollaborator",
        "owner": "YOUR_GITHUB_ORG",
        "repository": "YOUR_INTERN_REPO",
        "username": "={{ $json[\"github_username\"] }}",
        "permission": "push"
      },
      "id": "node-004",
      "name": "GitHub: Assign Repo",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [640, 340],
      "credentials": {
        "githubApi": {
          "id": "GITHUB_CREDENTIAL_ID_PLACEHOLDER",
          "name": "GitHub API Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "invite",
        "email": "={{ $json[\"slack_email\"] }}"
      },
      "id": "node-005",
      "name": "Slack: Invite to Workspace",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [640, 500],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID_PLACEHOLDER",
          "name": "Slack API Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "channel",
        "operation": "invite",
        "channelId": "YOUR_SLACK_INTERN_CHANNEL_ID",
        "userIds": "={{ $json[\"slack_email\"] }}"
      },
      "id": "node-006",
      "name": "Slack: Add to Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [860, 500],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID_PLACEHOLDER",
          "name": "Slack API Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "YOUR_SLACK_HR_CHANNEL_ID",
        "text": "=:tada: New intern onboarded!\n*Name:* {{ $node[\"Set Intern Data\"].json[\"name\"] }}\n*Role:* {{ $node[\"Set Intern Data\"].json[\"role\"] }}\n*GitHub:* {{ $node[\"Set Intern Data\"].json[\"github_username\"] }}\n*Email:* {{ $node[\"Set Intern Data\"].json[\"email\"] }}\n\nAll accesses have been provisioned automatically."
      },
      "id": "node-007",
      "name": "Slack: Notify HR",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1080, 500],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID_PLACEHOLDER",
          "name": "Slack API Token"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"Set Intern Data\"].json[\"email\"] }}",
        "subject": "=Welcome to the team, {{ $node[\"Set Intern Data\"].json[\"name\"] }}!",
        "emailType": "text",
        "message": "=Hi {{ $node[\"Set Intern Data\"].json[\"name\"] }},\n\nWelcome aboard as our {{ $node[\"Set Intern Data\"].json[\"role\"] }} intern! We're thrilled to have you.\n\nHere's a summary of everything that's been set up for you:\n\n✅ GitHub Access\n   - Organization: YOUR_GITHUB_ORG\n   - Repository: YOUR_INTERN_REPO\n   - Username: {{ $node[\"Set Intern Data\"].json[\"github_username\"] }}\n\n✅ Slack Access\n   - You've been invited to the workspace\n   - You've been added to the interns channel\n   - Check your email for the Slack invite\n\n📌 Next Steps:\n   1. Accept your GitHub org invitation\n   2. Accept your Slack workspace invite\n   3. Check in with your manager on your first day\n\nIf you have any issues accessing any of these tools, please reply to this email.\n\nWe're excited to have you on the team!\n\nBest regards,\nHR Team",
        "options": {}
      },
      "id": "node-008",
      "name": "Gmail: Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1080, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID_PLACEHOLDER",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"message\": \"Intern {{ $node[\"Set Intern Data\"].json[\"name\"] }} has been fully onboarded.\", \"provisioned\": [\"GitHub Org\", \"GitHub Repo\", \"Slack Workspace\", \"Slack Channel\", \"Welcome Email\"] }"
      },
      "id": "node-009",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Set Intern Data", "type": "main", "index": 0 }]
      ]
    },
    "Set Intern Data": {
      "main": [
        [
          { "node": "GitHub: Add to Org", "type": "main", "index": 0 },
          { "node": "GitHub: Assign Repo", "type": "main", "index": 0 },
          { "node": "Slack: Invite to Workspace", "type": "main", "index": 0 }
        ]
      ]
    },
    "GitHub: Add to Org": {
      "main": [
        [{ "node": "Gmail: Send Welcome Email", "type": "main", "index": 0 }]
      ]
    },
    "GitHub: Assign Repo": {
      "main": [
        [{ "node": "Gmail: Send Welcome Email", "type": "main", "index": 0 }]
      ]
    },
    "Slack: Invite to Workspace": {
      "main": [
        [{ "node": "Slack: Add to Channel", "type": "main", "index": 0 }]
      ]
    },
    "Slack: Add to Channel": {
      "main": [
        [{ "node": "Slack: Notify HR", "type": "main", "index": 0 }]
      ]
    },
    "Slack: Notify HR": {
      "main": [
        [{ "node": "Gmail: Send Welcome Email", "type": "main", "index": 0 }]
      ]
    },
    "Gmail: Send Welcome Email": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "n8n-intern-full-onboarding"
  },
  "tags": ["onboarding", "hr", "automation"]
}
