LinkedIn Social Media Autopilot1.json
{
  "name": "LinkedIn Social Media Autopilot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        128
      ],
      "id": "6ebd427e-4490-4c94-888a-8064f45188a2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AoQ1v5DFPZFz9-EXcPDquG8cSuKM-Uq4ZGD78iLBkXI",
          "mode": "list",
          "cachedResultName": "content calender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AoQ1v5DFPZFz9-EXcPDquG8cSuKM-Uq4ZGD78iLBkXI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AoQ1v5DFPZFz9-EXcPDquG8cSuKM-Uq4ZGD78iLBkXI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        128
      ],
      "id": "b5d59e02-f39f-4904-a6c4-70c11a26e650",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LZ6jTkjKVBAaGA4W",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1AoQ1v5DFPZFz9-EXcPDquG8cSuKM-Uq4ZGD78iLBkXI",
          "mode": "list",
          "cachedResultName": "content calender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AoQ1v5DFPZFz9-EXcPDquG8cSuKM-Uq4ZGD78iLBkXI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AoQ1v5DFPZFz9-EXcPDquG8cSuKM-Uq4ZGD78iLBkXI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "=Posted",
            "Post Caption": "={{ $if($('Generate Caption Text').isExecuted, $('Generate Caption Text').item.json.choices[0].message.content, $('Post with Image').item.json.choices[0].message.content) }}",
            "Posted At": "={{ new Date().toLocaleString('en-IN', {timeZone: 'Asia/Kolkata'}) }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Context",
              "displayName": "Context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tone",
              "displayName": "Tone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Media Type",
              "displayName": "Media Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Caption",
              "displayName": "Post Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posted At",
              "displayName": "Posted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Log",
              "displayName": "Error Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        -64
      ],
      "id": "c3fb2706-b698-401a-88b2-bfd29e3fc238",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LZ6jTkjKVBAaGA4W",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer  YOUR_GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ 'Write a ' + $('Get row(s) in sheet').item.json.Tone + ' LinkedIn post about: ' + $('Get row(s) in sheet').item.json.Topic + '. Context: ' + $('Get row(s) in sheet').item.json.Context + '. Maximum 150 words. Add 3-5 relevant hashtags. End with a question. Return only the post text, nothing else.' }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "Generate Caption Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        0
      ],
      "id": "51e93094-1a2a-4e49-a5c1-56373bfba5c6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9bcc424e-0672-479b-a0d3-18ad9b4427e9",
              "leftValue": "={{ $('Get row(s) in sheet').item.json['Media URL'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "76c6734b-3e07-44dd-aab7-7ea04d961022",
      "name": "If"
    },
    {
      "parameters": {
        "postAs": "organization",
        "organization": "113494013",
        "text": "={{ $('Generate Caption Text').item.json.choices[0].message.content }}",
        "additionalFields": {}
      },
      "name": "Post Text to LinkedIn1",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        816,
        224
      ],
      "id": "ced769f2-4491-4798-bc62-4ced8a61a524",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "1jgmajHnABBc2opw",
          "name": "LinkedIn OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get row(s) in sheet').item.json['Media URL'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -208
      ],
      "id": "ce580404-4909-45cf-bd0b-1412d331317a",
      "name": "Download Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"registerUploadRequest\": {\n    \"recipes\": [\"urn:li:digitalmediaRecipe:feedshare-image\"],\n    \"owner\": \"urn:li:organization:113494013\",\n    \"serviceRelationships\": [{\n      \"relationshipType\": \"OWNER\",\n      \"identifier\": \"urn:li:userGeneratedContent\"\n    }]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        -320
      ],
      "id": "23777c36-0264-4937-8c65-7ef3993108cc",
      "name": "Register Upload",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "1jgmajHnABBc2opw",
          "name": "LinkedIn OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Register Upload').item.json.value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        -304
      ],
      "id": "32532fa8-9a99-423a-9795-3830286a0f48",
      "name": "Upload Image",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "1jgmajHnABBc2opw",
          "name": "LinkedIn OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        -208
      ],
      "id": "7018172e-b71e-4139-ae46-9629091636b3",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1488,
        -288
      ],
      "id": "b65267e4-1e0e-4463-9971-5794ce09631b",
      "name": "Post with Image",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "1jgmajHnABBc2opw",
          "name": "LinkedIn OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const asset = $('Register Upload').first().json.value.asset;\nconst caption = $('Generate Caption Text').first().json.choices[0].message.content;\nconst topic = $('Get row(s) in sheet').first().json.Topic;\n\nreturn [{\n  json: {\n    author: \"urn:li:organization:113494013\",\n    lifecycleState: \"PUBLISHED\",\n    specificContent: {\n      \"com.linkedin.ugc.ShareContent\": {\n        shareCommentary: { text: caption },\n        shareMediaCategory: \"IMAGE\",\n        media: [{\n          status: \"READY\",\n          media: asset,\n          title: { text: topic }\n        }]\n      }\n    },\n    visibility: {\n      \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -304
      ],
      "id": "a7a18839-5dc4-48fa-9703-13f880f176ce",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Generate Caption Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Caption Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Text to LinkedIn1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Text to LinkedIn1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Register Upload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Upload": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post with Image": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Post with Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ee9f5be0-4c64-45ef-991c-20724399b823",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfec1d611802c98391d07ef604a3a3ef8c92ba7da5fbe3d50717b9cbe18a9ca7"
  },
  "id": "G6vlbXrdGP96ao6y",
  "tags": []
}