Review Request Automation1.json
{
  "name": "Review Request Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1456,
        128
      ],
      "id": "51e746a4-2d25-42f6-b8a8-324ced958162",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a friendly email writer. Write short, warm, personalised review request emails.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a review request email for {{ $json.Name }} who got {{ $json.Service }} on {{ $json.Date }}. Include their Google review link: {{ $json['Review Link'] }}. Keep it short, friendly, add 1-2 emojis. No subject line.\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1040,
        128
      ],
      "id": "f66e21c7-309a-48f7-a7ca-6c8e21034939",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json.Email }}",
        "subject": "=How was your experience,  {{ $('Get row(s) in sheet').item.json['Name '] }}?",
        "message": "=<p>Hi {{ $('Get row(s) in sheet').item.json['Name '] }}! 👋</p>  <p>{{ $json.choices[0].message.content }}</p>  <p>   <a href=\"{{ $('Get row(s) in sheet').item.json['Review Link'] }}\"    style=\"background:#FFB800;padding:12px 24px;   border-radius:25px;color:white;   text-decoration:none;font-weight:bold\">   ⭐ Leave a Review   </a> </p>  <p>Thank you so much! 🙏</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -832,
        128
      ],
      "id": "7ba9a340-4c57-44c0-a225-5fae645056a8",
      "name": "Send a message",
      "webhookId": "cb79694e-59ad-46d1-9e55-1f6f12d73717",
      "credentials": {
        "gmailOAuth2": {
          "id": "7l5ysqArjAyTF5c2",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Thank you so much, {{ $json.Name }}! 🙏",
        "message": "=<p>Hi {{ $json.Name }}! 🌟</p>  <p>Thank you so much for taking the time  to leave us a review!</p>  <p>Your feedback means the world to us  and helps us serve you better. 💛</p>  <p>We look forward to seeing you again soon!</p>  <p>With gratitude 🙏</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -352,
        112
      ],
      "id": "1f774883-40ca-43bb-a659-7fbb0c49e765",
      "name": "Send a message1",
      "webhookId": "ea4ad7e9-5bd0-45b6-b8bb-a47dccc3357f",
      "credentials": {
        "gmailOAuth2": {
          "id": "7l5ysqArjAyTF5c2",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hmQZG89_9J14bsFq2a2cPW2Kp7ZmrlpphVxIhHaT-bo",
          "mode": "list",
          "cachedResultName": "Review Request",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hmQZG89_9J14bsFq2a2cPW2Kp7ZmrlpphVxIhHaT-bo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hmQZG89_9J14bsFq2a2cPW2Kp7ZmrlpphVxIhHaT-bo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "reviewed",
            "Email": "={{ $('Google Sheets Trigger').item.json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date ",
              "displayName": "Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Review Link",
              "displayName": "Review Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        48
      ],
      "id": "ea813edc-0d19-4b38-8253-04b727454d53",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LZ6jTkjKVBAaGA4W",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1hmQZG89_9J14bsFq2a2cPW2Kp7ZmrlpphVxIhHaT-bo",
          "mode": "list",
          "cachedResultName": "Review Request",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hmQZG89_9J14bsFq2a2cPW2Kp7ZmrlpphVxIhHaT-bo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 490741991,
          "mode": "list",
          "cachedResultName": "Form responses 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hmQZG89_9J14bsFq2a2cPW2Kp7ZmrlpphVxIhHaT-bo/edit#gid=490741991"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        128
      ],
      "id": "c7530a25-b9af-419a-8c87-ad8b8883e0bd",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "UbAyiBsvVe6B9XEC",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hmQZG89_9J14bsFq2a2cPW2Kp7ZmrlpphVxIhHaT-bo",
          "mode": "list",
          "cachedResultName": "Review Request",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hmQZG89_9J14bsFq2a2cPW2Kp7ZmrlpphVxIhHaT-bo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hmQZG89_9J14bsFq2a2cPW2Kp7ZmrlpphVxIhHaT-bo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1248,
        128
      ],
      "id": "0c8c9cd7-2616-4072-afbf-64ea4d45b451",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LZ6jTkjKVBAaGA4W",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eafc6932-da29-4d87-8ee9-34454202348a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfec1d611802c98391d07ef604a3a3ef8c92ba7da5fbe3d50717b9cbe18a9ca7"
  },
  "id": "5DcySPx1jxKcoGj9",
  "tags": []
}